<?xml version="1.0" encoding="ISO-8859-1"?>
<application>
<about>
	<name>StartupFollow</name>
	<author>QuentinSup</author>
	<version>1.0</version>
	<description></description>
</about>
<config>
	<application run="0" lang="fr" />
	<connectors>
		<connector name="db" type="dbi" dsn="mysqli://root:@localhost:/startupfollow" autoconnect="1" /> 
		<connector name="mail" type="smtp" from="no-reply@startup-follow.com" />
	</connectors>
	<properties>
	</properties>
</config>
<plugins />
</application>