.transparent {
	background: transparent !important;
	color: #fff !important;
	border: 0px !important;
	position: relative;
	z-index: 9999;
}

.transparent:after {
	content: '';
	display: block;
	background-color: #fff;
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	opacity: .05;
	z-index: -1;
}

.hero-content {
	color: #fff;
	text-shadow: 1px 1px 2px #444;
}

.hero-content button {
	border-radius: 20px;
	padding: 1em 2em;
	margin: .5em .1em;
}

.text-uppercase {
	text-transform: uppercase;
}

.text-padding {
	padding: 5em;
}

#projects {
	background: url('../img/image_hero') center bottom no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#hero-actions {
	margin-top: 4em;
}

#hero-actions button {
	transition: background .5s;
}

#hero-actions button.btn-devops:hover {
	background-color: #2173ce;
}

#hero-actions button.btn-tmma:hover {
	background-color: #b13c90;
}

#hero-actions button.btn-mco:hover {
	background-color: #5a3865;	
}

#hero-actions button.btn-devops, .devops-color {
	background-color: #2485f0;
	color: #fff;
}

#hero-actions button.btn-tmma, .tmma-color {
	background-color: #d33da9;
	color: #fff;
}

#hero-actions button.btn-mco, .mco-color {
	background-color: #3a2d3e;
	color: #fff;
}

.w-content {
	padding: 2em;
}

.w-content:first-child {
	border-right: 10px solid #444;
}

img[src=""], img:not ([src] ) {
	visibility: hidden;
}

/* others */
.clickable {
	cursor: pointer;
}

img {
	margin: auto;
}

.text-spacer {
	padding: 0em 1em;
}

section.content {
	padding: 0em 1em;
}

img.small {
	width: auto !important;
	height: 40px;
	margin: auto;
}

.bg-home {
	background: #505e79 url('../img/image_hero.jpg') center no-repeat;
	background-size: 100%;
}

#footer {
	padding: 2em;
	font-size: .9em;
	background-color: #373435;
	font-weight: 400;
}

.sublime-text {
	display: inline-block;
	padding: .2em .2em;
	color: #fff;
}

ul {
	padding: 0px;
	margin: 0px;
}

input[type=text], input[type=email], input[type=password], select.form-control
	{
	font-size: 1.25em;
	font-weight: 400;
	line-height: normal;
	padding: .5em .7em;
	border: 1px solid #C5C5C5;
	border-radius: .25em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	color: #555459;
	max-width: 100%;
	font-variant-ligatures: none;
	-webkit-transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
	-moz-transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
	transition: box-shadow 70ms ease-out, border-color 70ms ease-out;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-shadow: none;
	height: auto;
	font-family: 'Lato', sans-serif;
}

input[type=button], button, .btn {
	font-family: 'MontSerrat', sans-serif;
	padding: 14px 24px;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	line-height: 1.2rem;
	font-weight: 700;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-decoration: none;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
	border: none;
	border-radius: .25rem;
	box-shadow: none;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	max-width: 100%;
}

*::-webkit-input-placeholder {
	font-family: 'Lato', sans-serif !important;
}

/* ---------------- COMMUNS --- */
ul {
	list-style-type: none;
	text-align: left;
}

form {
	text-align: left;
}

.relative {
	position: relative;
}

body, input {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-style: normal;
	font-size: 14px;
}

strong, .strong {
	font-weight: 600;
	font-style: normal;
	color: #fff;
}

.bg-color strong, .bg-color .strong {
	color: #dedede;
}

p {
	font-weight: 300;
	text-align: left;
}

h1 {
	font-size: 4.5em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 3.5em;
}

h4 {
	font-size: 2.5em;
}

h5 {
	font-size: 2.5em;
}

h6 {
	font-size: 2em;
}

h7, .h7 {
	font-size: 1.5em !important;
}

h8, .h8 {
	font-size: 1.5em;
}

h1, h2, h3, h4, h5, h6, h7, h8, .h7, .h8 {
	font-weight: 600 !important;
	display: block;
	font-family: 'Montserrat', sans-serif !important;
}

h1, h2, h3 {
	margin-top: 10px;
	margin-bottom: 10px;
}

h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 20px;
}

h7, .h7, h8, .h8 {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: left;
}

a {
	color: #fff;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	color: #ddd;
	text-decoration: underline;
	outline: none;
}

::selection {
	background-color: #FF714A;
	color: #fff;
}

blockquote {
	margin: 2.5em 1.1em;
	position: relative;
	z-index: 1;
	border: 0px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

blockquote>p {
	margin: 0 3em;
}

blockquote {
	color: gray;
	background-color: #fefefe;
	font-size: 1.2em;
}

blockquote:before {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	content: '\201C';
	color: #f5f5f5;
	font-size: 12em;
	line-height: .75em;
	top: 0;
	left: -5px;
	z-index: -1;
}

blockquote:after {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	content: '\201D';
	color: #f5f5f5;
	font-size: 12em;
	line-height: 0em;
	bottom: -50px;
	z-index: -1;
	right: 0px;
}

hr {
	width: 100px;
	border-top: 1px solid #E8E8E8;
	margin-top: 2em;
	margin-bottom: 2em;
}

hr.white {
	border-color: #F3AE9B;
}

#hero strong {
	font-weight: 500;
}

.light {
	color: #fff;
}

.dark {
	color: #000;
}

.highlight {
	color: rgb(12, 145, 239);
}

.small {
	font-size: 11pt;
}

.hiding {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.big {
	font-size: 1.3em;
}

.center {
	text-align: center;
}

.section {
	min-height: 350px;
	background-color: #404040;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.overlay {
	background: #25201f;
	opacity: .8;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.overlay.top {
	background: #25201f;
	opacity: .1;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.overlay.color {
	background: rgb(12, 145, 239);
	opacity: .95;
}

.container {
	z-index: 1;
	position: relative;
}

/* Content */
#hero {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow-y: hidden;
	overflow-x: hidden;
}

#hero .container {
	position: static;
}

@media screen and (min-width: 800px) {
	#hero {
		min-height: 500px;
	}
	#hero .hero-content {
		position: absolute;
		padding-top: 15%;
		padding-left: 5em;
		padding-right: 5em;
		top: 0px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		z-index: 999;
	}
}

.hero-content:after {
	content: '';
	background: #000;
	opacity: .2;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@media screen and (max-width: 767px) {
	.full-width-xs {
		width: 100%;
	}
}

#hero hr {
	width: 11%;
	border: 0;
	border-top: 1px solid #FFF;
	display: inline-block;
}

#hero .hero-small span {
	font-size: 18pt;
	font-weight: 300;
	display: inline-block;
	margin: 0 20px 15px;
	position: relative;
	top: -12px;
}

#hero .hero-small .sep {
	width: 15px;
	display: inline-block;
}

#hero .hero-small span.fa {
	margin: 0px 10px 0px 0px;
	font-size: 20pt;
	top: -3px;
}

#hero .hero-big {
	font-size: 2.5em;
	font-weight: bold;
	font-weight: bold;
}

#hero .hero-normal {
	font-size: 1.3em;
	margin: 15px 0px 40px 0px;
	max-width: 800px;
}

.back-to-top {
	text-align: center;
	background: #000;
	color: #fff;
	display: none;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	opacity: 0.4;
	filter: alpha(opacity = 40);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	cursor: pointer;
	border-radius: 40px;
	z-index: 9999;
}

.back-to-top:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

/* Preloader */
#mask {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	z-index: 10000;
	height: 100%;
}

#loader {
	position: absolute;
	width: 12px;
	height: 12px;
	z-index: 9999;
	top: 46%;
	top: -webkit-calc(50% - 6px);
	top: calc(50% - 6px);
	left: 46%;
	left: -webkit-calc(50% - 6px);
	left: calc(50% - 6px);
	/*
  border-radius: 12px;
  background-color: #eee;
  -webkit-transform-origin:  50% 50%;
      transform-origin:  50% 50% ;
  -webkit-animation: spinner 1s ease-in-out infinite;
      animation: spinner 1s ease-in-out infinite;
  */
}

/* Mobile device */
@media ( max-width : 480px) {
	#hero .hero-content {
		top: 57%;
	}
	#hero .hero-big {
		font-size: 2.3em !important;
		margin-top: 10px;
	}
	#hero .hero-normal {
		font-size: 18pt;
		margin: 0px 0px 20px 0px;
	}
}

@media ( max-width : 767px) {
	#hero .hero-big {
		font-size: 2.5em;
		margin-top: 10px;
		margin-bottom: 0px;
	}
	#hero .hero-normal {
		font-size: 18pt;
		margin: 0px 0px 20px 0px;
	}
	#hero {
		padding-top: 2%;
	}
}

/* Tablet device */
@media ( max-width : 991px) and (min-width: 768px) {
}

/* Desktop small screen */
@media ( min-width : 992px) {
}

/* Desktop large screen */
@media ( min-width : 1200px) {
	.container {
		width: 970px;
	}
}

.bg-bubbles {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
}

.bg-bubbles li {
	position: absolute;
	list-style: none;
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.15);
	bottom: -160px;
	-webkit-animation: square 25s infinite;
	animation: square 25s infinite;
	transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
	left: 10%;
}

.bg-bubbles li:nth-child(2) {
	left: 20%;
	width: 80px;
	height: 80px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 17s;
	animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
	left: 25%;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	-webkit-animation-duration: 22s;
	animation-duration: 22s;
	background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
	left: 70%;
}

.bg-bubbles li:nth-child(6) {
	left: 80%;
	width: 120px;
	height: 120px;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
	background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
	left: 32%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 7s;
	animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
	left: 55%;
	width: 20px;
	height: 20px;
	-webkit-animation-delay: 15s;
	animation-delay: 15s;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
	left: 25%;
	width: 10px;
	height: 10px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
	background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
	left: 90%;
	width: 160px;
	height: 160px;
	-webkit-animation-delay: 11s;
	animation-delay: 11s;
}

@-webkit-keyframes square { 
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		-webkit-transform: translateY(-700px) rotate (600deg);
		transform: translateY(-700px) rotate (600deg);
	}
}

@keyframes square { 
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(-700px) rotate(600deg);
		transform:	translateY(-700px) rotate(600deg);
	}
}